.issuesHeader{
    display: flex;
    /* width: 100%; */
    margin: auto;
    padding: 10px;
    border: 1px solid #d0d7de;
    background-color: #f6f8fa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width:78.5%;
    margin-top: 50px;
}

.all-issues{
    display: flex;
    align-items: center;
    gap: 10px;
}

.filters{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 1023px) {
    .filters{
        display: none;
    }

}

@media screen and (max-width: 620px){
    .issuesHeader{
        width: 75%;
    }
}