.issuesHeader{
    display: flex;
    /* width: 100%; */
    margin: 50px 50px 0px 30px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    width:91%;
}

.all-issues{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.filters{
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
    cursor: pointer;
    font-size: 16px;
}

@media screen and (max-width: 1023px) {
    .filters{
        display: none;
    }

}

@media screen and (max-width: 620px){
    .issuesHeader{
        width: 85%;
    }
}